<h2>My Todo List</h2>


<% @all_items.order(:due).each do |item| %>

<ul>
	<li>
	<%=item.description%> -
	<%=item.due%>
	<form action =/delete/<%=item.id%>' method='post'>
      	<input type='submit' value='Delete'>
      	</form>
	</li>
</ul>

 
<%end%>
<form action ='/' method='post'>
  <strong>New Task</strong>
  <input type='text' name ='task' placeholder= 'task content'/>
  <input type='text' name='date' placeholder ='due date'/>
  <input type = 'submit' value='Save'>
  
</form>

