<h2>Current Users</h2>

<% @users.each do |user| %>

<ul>
        <li>
       
	<div class = 'list-group-item'>
	     <a	href='/<%=user.id%>'><%=user.name%></a>
        </div>

        <form action ='/delete_user/<%=user.id%>' method='Post'>
        <input type='submit' value='Delete'>
        </form>
        </li>
</ul>
<%end%>

<h3>add new user here</h3>

     <form action='/new_user' method='POST'>
     <input type='text' name='name' placeholder='username'/>
     <input type ='submit' value='Save'>
     </form>